In [1]:
import pandas as pd
import numpy  as np
import ast
import nltk
from nltk.stem.porter import PorterStemmer

In [2]:
bus = pd.read_csv('../assets/bus_routes.csv')
bus.duplicated().sum()

0

In [3]:
# Normalize text in 'Driver_Name' and 'Route' columns
bus['Driver_Name'] = bus['Driver_Name'].str.lower().str.strip()
bus['Route'] = bus['Route'].str.lower().str.strip()

In [4]:
# Function to convert route strings into lists of stops
def convert(route):
    """Convert a route string into a list of stops"""
    if not isinstance(route, str):
        return []
    
    stops = [stop.strip() for stop in route.split('-')]
    return stops

In [5]:
bus['Route'] = bus['Route'].apply(convert)

In [6]:
# Can be used to see if user given destination is there in unique routes .
unique_routes = [] 
for route_list in bus['Route']:
    if isinstance(route_list, list):
        for route in route_list:
            if isinstance(route, str):
                if route not in unique_routes:
                    unique_routes.append(route)

# Print the unique routes
print(unique_routes)

['clock tower', 'darshanlal chowk', 'saharanpur chowk', 'isbt dehradun', 'graphic era hill university', 'asley hall', 'matawala bagh', 'daudwala', 'mathurawala', 'vishnupuram', 'bangali kothi', 'kargi chowk', 'ranipokhri', 'doiwala', 'lachiwala', 'kuanwala', 'harawala', 'miawala', 'mokampur', 'jogiwala', 'rispana', 'gujraunwala', 'raipur chowk', 'dobhal chowk', '6 no. pulia', 'ring road', 'post office nehru gram', 'graphic era hill university/gehu', 'hathibadkala', 'garhi cant', 'vijay coloney', 'chir bagh', 'cm house', 'ongc chowk', 'ballupur chowk', 'gms road', 'rajender nagar', 'yamuna coloney', 'bindal pul', 'kishan nagar', 'blood bank', 'supply', 'it park dehradun', 'nala paani chowk', 'shastdhara crossing', 'ladpur', 'fountain chowk rispana', 'fountain chowk', 'nehru colony', 'kargi', 'nakrounda more', 'naya gaon palio', 'badowala', 'telpur', 'mehuwala', 'race course', 'dharampur', 'mata mandir', 'balbir road', 'rajpur', 'great value', 'dilaram bazar', 'nanni bakery dehradun', 'survey chowk', 'dwarka store', 'araghar', 'kulhal', 'vikasnagar', 'tehsil', 'harbatpur chowk', 'langa road', 'shaspur', 'selaqui', 'sudhowala', 'nanda ki chowki', 'premnagar', 'panditwari', 'vasant vihar', '', 'selaqui chowk', 'baliwala chowk', 'bahuwala raja road', 'raja road', 'bansiwala', 'manduwala', 'prem nagar', 'balliwalachowk']

In [7]:
df = pd.DataFrame(bus)
df.head()

,S.No,Reg.No.,Bus_No,Shift_Timing,Driver_Name,Contact_No,Route
0,1,UK07PA1699,9,7.00 AM 11.00 AM,arjun gurung,9557782210,"[clock tower, darshanlal chowk, saharanpur cho..."
1,2,UK07PA1696,18,7.00 AM 11.00 AM,sunil kumar iv,7060226291,"[clock tower, darshanlal chowk, saharanpur cho..."
2,3,UK07PA1691,24,7.00 AM 11.00 AM,m.r rama,8958990677,"[clock tower, darshanlal chowk, saharanpur cho..."
3,4,UK07PA3542,42,7.00 AM 11.00 AM,gudmohan,7060656243,"[asley hall, clock tower, darshanlal chowk, sa..."
4,5,UK07PA4816,64,7.00 AM 11.00 AM,hari singh,9410105794,"[asley hall, clock tower, darshanlal chowk, sa..."

In [8]:
# Number of Locations
print(f"Total buses: {len(df)}")

Total buses: 74

In [9]:
# creating location point file for given stops

In [10]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\arpan\downloads\anaconda\setup\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\arpan\downloads\anaconda\setup\lib\site-packages (from geopy) (2.0)

In [11]:
import geopy as gp
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="bus_route_locator",timeout=10)
import time

In [12]:
# Management of package limit (Geoccoder TimeOut)
from geopy.extra.rate_limiter import RateLimiter

geolocator = Nominatim(user_agent="your_app_name")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [13]:
found = []
not_found = []

In [14]:
# Function to get coordinates of a location
def get_coordinates(location):
    try:

        location_in_dehradun = f"{location}, Dehradun"
        location_data = geolocator.geocode(location_in_dehradun)
        if location_data:
            found.append(location)
            return location_data.latitude, location_data.longitude
        else:
            not_found.append(location)
            return None, None
    except Exception as e:
        print(f"Error with location '{location}': {e}")
        return None, None

In [15]:
location_names = []
latitudes = []
longitudes = []

In [ ]:
for location in unique_routes:
    if location.strip():  # Ignore empty locations
        lat, lon = get_coordinates(location)
        location_names.append(location)
        latitudes.append(lat)
        longitudes.append(lon)

In [ ]:
df_locations = pd.DataFrame({
    'name': location_names,
    'Latitude': latitudes,
    'Longitude': longitudes
})

In [ ]:
df_locations.to_csv("../assets/location_coordinates_log.csv")

In [ ]:
import folium

In [ ]:
df_loc = pd.read_csv('../assets/location_coordinates_final.csv')

In [ ]:
df_loc = df_loc.dropna(subset=['Latitude','Longitude'])

In [ ]:
count = 0
center_lat, center_lon = df_loc['Latitude'].iloc[0], df_loc['Longitude'].iloc[0]
m = folium.Map(location=[center_lat, center_lon], zoom_start=6)

# Add markers for each location
for index, row in df_loc.iterrows():
    # Display location name and coordinates as popup
    folium.Marker([row['Latitude'], row['Longitude']], popup=f"Loc : {row['name']}\n  \nLat: {row['Latitude']}\n  Lon: {row['Longitude']}").add_to(m)
    count = count+1

In [ ]:
print(f"Total locations plotted : {count}")

In [ ]:
# Display the map
m